@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=block');

#page article section.Callout {
    font-family: 'Marcellus';
    padding: 1em;
    border: 0.5em solid #f0fd;
    background-color: #f0f4;
}

#page article section.Callout > * {
    flex: 1 1 auto;
}

#page article section.Callout > img {
    mix-blend-mode: multiply;
}
